/* Navbar logo position and dimension*/
#logo {
  width: 60px;
  height: auto;
  border-radius: 200px;
  background-color: white;
}
/* nav bar setup */
.ml-auto .dropdown-menu {
  left: auto !important;
  right: 0px;
}

.mr-auto{
  right: auto !important;
  left: 0px;
}

/*Login form */
.form-container input[type=text], input[type=password], input[type=date], input[type=email]{
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
}

.form-container input[type=submit]{
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
}

.form-container{
  align-content: center;
  align-items: center;
  text-align: center;
  max-width: 400px;
  margin: 7% auto;
  float: none;
  
}

.error-warning p{
  color: #b22222;
}

table{
  max-width: 800px;
  text-align: left;
  align-items: left;
}

.form-control{
  align-content: left;
  align-items: left;
  text-align: left;
  -moz-box-align: left;
}

#container-signin .alert{
  opacity: 1;
  transition: opacity 0.3s; 
  max-width: 40%;
  margin-left: auto;
  margin-right: auto
}

#container-login .alert{
  opacity: 1;
  transition: opacity 0.3s; 
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
}

#mod-info .alert{
  opacity: 1;
  transition: opacity 0.3s; 
  max-width: 30%;
  margin-left: 0%;
  margin-right: auto;
}

#show-info .alert{
  opacity: 1;
  transition: opacity 0.3s; 
  max-width: 30%;
  margin-left: 0%;
  margin-right: auto;
}