/* Navbar logo position and dimension*/
#logo {
  width: 60px;
  height: auto;
  border-radius: 200px;
  background-color: white;
}
/* nav bar setup */
.ml-auto .dropdown-menu {
  left: auto !important;
  right: 0px;
}

.mr-auto{
  right: auto !important;
  left: 0px;
}

/*Login form */
.form-container input[type=text], input[type=password], input[type=date], input[type=email]{
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
}

.form-container input[type=submit]{
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
}

.form-container{
  align-content: center;
  align-items: center;
  text-align: center;
  max-width: 400px;
  margin: 7% auto;
  float: none;
  
}

.error-warning p{
  color: #b22222;
}
/**********TABLE****************/
#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

table{
  text-align: left;
  align-items: left;
}

#products-table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#products-table th, #products-table td {
  text-align: left;
  padding: 12px;
}

#products-table tr {
  border-bottom: 1px solid #ddd;
}

#products-table tr.header, #products-table tr:hover {
  background-color: #f1f1f1;
}

/**********TABLE****************/

.form-control{
  align-content: left;
  align-items: left;
  text-align: left;
  -moz-box-align: left;
}

#container-signin .alert{
  opacity: 1;
  transition: opacity 0.3s; 
  max-width: 40%;
  margin-left: auto;
  margin-right: auto
}

#container-login .alert{
  opacity: 1;
  transition: opacity 0.3s; 
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#mod-info .alert{
  opacity: 1;
  transition: opacity 0.3s; 
  max-width: 400px;
  margin-left: 0%;
  margin-right: auto;
}

#show-info .alert{
  opacity: 1;
  transition: opacity 0.3s; 
  max-width: 400px;
  margin-left: 0%;
  margin-right: auto;
}


#project-container{
	margin-top: 30px;
	margin-left: 75px;
}


img:hover{
	cursor: pointer;
}


img.img-project{
	border: solid thin #F30C10;
	max-width: 100px;
	height: auto;
}

.img-project.selected{
	border: solid thin #09E31D;
}


#toggleDiv.media-body{
  display: none;
}
